.new-house {
    width: 1519px;
    margin: 0 auto;
}
/*新房页面头部搜索框和导航菜单样式*/
.new-house .search-box {
    background-size: 100% 100%;
    background-image: url('../../../common/images/topbgimage.jpg');
    /* width: 1700px; */
    height: 150px;
    margin: 0 auto;
}
.new-house .search-box .menu {
    padding-top: 15px;
    padding-left: 155px;
}
.new-house .search-box .menu ul {
    display: inline-block;
    list-style-type: none;
    line-height: 35px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.new-house .search-box .menu ul li {
    float: left;
    padding: 14px 0;
}
.new-house .search-box .menu ul li a {
    font-weight: bold;
    color: #fff;
}
.new-house .search-box .menu ul li a:hover {
    color: #777;
}
.new-house .search-box .menu .menu-four,
.new-house .search-box .menu .menu-one,
.new-house .search-box .menu .menu-three,
.new-house .search-box .menu .menu-two {
    margin-left: 30px;
}
.new-house .search-box .menu .el-input input {
    width: 600px;
}
/*新房页面主体内容中多选框选择样式*/
.new-house-content {
    /* width: 1700px; */
    margin: 0 auto;
}
.new-house-content .choose-form {
    margin-top: 30px;
    margin-left: 155px;
    background-color: #f5f5f6;
    width: 1220px;
    height: 100%;
    font-size: 12px;
}
.new-house-content .choose-form .position-place {
    padding-left: 20px;
    padding-top: 10px;
}
.new-house-content .choose-form .position-place hr {
    margin-left: 0;
    width: 1150px;
}
/*ul列表横向排列*/
.new-house-content .choose-form .area ul,
.new-house-content .choose-form .line ul,
.new-house-content .choose-form .position-place ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.new-house-content .choose-form .area ul li,
.new-house-content .choose-form .line ul li,
.new-house-content .choose-form .position-place ul li {
    float: left;
    padding: 14px 0;
}
.new-house-content .choose-form .position-place .text-one {
    font-weight: bold;
}
.new-house-content .choose-form .position-place #text-three,
.new-house-content .choose-form .position-place #text-two {
    margin-left: 35px;
    color: black;
}
.new-house-content .choose-form .position-place #text-three:hover,
.new-house-content .choose-form .position-place #text-two:hover {
    color: #06c;
    text-decoration: underline;
}
/*区域和地铁线数据样式*/
.new-house-content .choose-form .position-place #text-two {
    color: #06c;
}
.new-house-content .choose-form .line {
    display: none;
}
.new-house-content .choose-form .area,
.new-house-content .choose-form .line {
    margin-left: 80px;
}
.new-house-content .choose-form .area .area-data-eight,
.new-house-content .choose-form .area .area-data-elven,
.new-house-content .choose-form .area .area-data-five,
.new-house-content .choose-form .area .area-data-four,
.new-house-content .choose-form .area .area-data-nine,
.new-house-content .choose-form .area .area-data-seven,
.new-house-content .choose-form .area .area-data-six,
.new-house-content .choose-form .area .area-data-ten,
.new-house-content .choose-form .area .area-data-thirteen,
.new-house-content .choose-form .area .area-data-three,
.new-house-content .choose-form .area .area-data-twlve,
.new-house-content .choose-form .area .area-data-two,
.new-house-content .choose-form .line .line-data-eight,
.new-house-content .choose-form .line .line-data-elven,
.new-house-content .choose-form .line .line-data-fifthteen,
.new-house-content .choose-form .line .line-data-five,
.new-house-content .choose-form .line .line-data-four,
.new-house-content .choose-form .line .line-data-fourteen,
.new-house-content .choose-form .line .line-data-nine,
.new-house-content .choose-form .line .line-data-seven,
.new-house-content .choose-form .line .line-data-six,
.new-house-content .choose-form .line .line-data-sixteen,
.new-house-content .choose-form .line .line-data-ten,
.new-house-content .choose-form .line .line-data-thirteen,
.new-house-content .choose-form .line .line-data-three,
.new-house-content .choose-form .line .line-data-twlve,
.new-house-content .choose-form .line .line-data-two {
    margin-left: 15px;
}
/*表单表格样式*/
.new-house-content .choose-form .check-box-form .el-form-item__label {
    font-weight: bold;
    color: black;
}
.new-house .el-checkbox__label,
.new-house .el-form-item__label {
    font-size: 12px;
    width: 102.36px;
}
.new-house .el-form-item {
    margin-bottom: 0;
    height: 40px;
}
.new-house .more-choose-text,
.new-house .recive-choose-text {
    height: 30px;
    text-align: center;
    color: #606266;
    font-size: 12px;
}
.new-house .recive-choose-text,
.new-house .show-hide-choose {
    display: none;
}
/*新房详细信息*/
.new-house .house-details {
    margin-top: 30px;
    margin-left: 155px;
}
.new-house .first-type-house-five,
.new-house .first-type-house-four,
.new-house .first-type-house-one,
.new-house .first-type-house-three,
.new-house .first-type-house-two,
.new-house .four-type-house-five,
.new-house .four-type-house-four,
.new-house .four-type-house-one,
.new-house .four-type-house-three,
.new-house .four-type-house-two,
.new-house .second-type-house-five,
.new-house .second-type-house-four,
.new-house .second-type-house-one,
.new-house .second-type-house-three,
.new-house .second-type-house-two,
.new-house .third-type-house-five,
.new-house .third-type-house-four,
.new-house .third-type-house-one,
.new-house .third-type-house-three,
.new-house .third-type-house-two {
    margin-top: 15px;
}
.new-house .first-type-house-five .introduce-text,
.new-house .first-type-house-four .introduce-text,
.new-house .first-type-house-one .introduce-text,
.new-house .first-type-house-three .introduce-text,
.new-house .first-type-house-two .introduce-text,
.new-house .four-type-house-five .introduce-text,
.new-house .four-type-house-four .introduce-text,
.new-house .four-type-house-one .introduce-text,
.new-house .four-type-house-three .introduce-text,
.new-house .four-type-house-two .introduce-text,
.new-house .second-type-house-five .introduce-text,
.new-house .second-type-house-four .introduce-text,
.new-house .second-type-house-one .introduce-text,
.new-house .second-type-house-three .introduce-text,
.new-house .second-type-house-two .introduce-text,
.new-house .third-type-house-five .introduce-text,
.new-house .third-type-house-four .introduce-text,
.new-house .third-type-house-one .introduce-text,
.new-house .third-type-house-three .introduce-text,
.new-house .third-type-house-two .introduce-text {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    height: 100%;
}
.new-house .first-type-house-five .introduce-text .tag span,
.new-house .first-type-house-four .introduce-text .tag span,
.new-house .first-type-house-one .introduce-text .tag span,
.new-house .first-type-house-three .introduce-text .tag span,
.new-house .first-type-house-two .introduce-text .tag span,
.new-house .four-type-house-five .introduce-text .tag span,
.new-house .four-type-house-four .introduce-text .tag span,
.new-house .four-type-house-one .introduce-text .tag span,
.new-house .four-type-house-three .introduce-text .tag span,
.new-house .four-type-house-two .introduce-text .tag span,
.new-house .second-type-house-five .introduce-text .tag span,
.new-house .second-type-house-four .introduce-text .tag span,
.new-house .second-type-house-one .introduce-text .tag span,
.new-house .second-type-house-three .introduce-text .tag span,
.new-house .second-type-house-two .introduce-text .tag span,
.new-house .third-type-house-five .introduce-text .tag span,
.new-house .third-type-house-four .introduce-text .tag span,
.new-house .third-type-house-one .introduce-text .tag span,
.new-house .third-type-house-three .introduce-text .tag span,
.new-house .third-type-house-two .introduce-text .tag span {
    margin-top: 20px;
    color: #849aae;
    font-size: 12px;
    line-height: 30px;
    padding: 0 11px;
    margin-right: 6px;
    background-color: #f4f7f9;
    float: left;
}
.new-house .first-type-house-five .introduce-text h4,
.new-house .first-type-house-four .introduce-text h4,
.new-house .first-type-house-one .introduce-text h4,
.new-house .first-type-house-three .introduce-text h4,
.new-house .first-type-house-two .introduce-text h4,
.new-house .four-type-house-five .introduce-text h4,
.new-house .four-type-house-four .introduce-text h4,
.new-house .four-type-house-one .introduce-text h4,
.new-house .four-type-house-three .introduce-text h4,
.new-house .four-type-house-two .introduce-text h4,
.new-house .second-type-house-five .introduce-text h4,
.new-house .second-type-house-four .introduce-text h4,
.new-house .second-type-house-one .introduce-text h4,
.new-house .second-type-house-three .introduce-text h4,
.new-house .second-type-house-two .introduce-text h4,
.new-house .third-type-house-five .introduce-text h4,
.new-house .third-type-house-four .introduce-text h4,
.new-house .third-type-house-one .introduce-text h4,
.new-house .third-type-house-three .introduce-text h4,
.new-house .third-type-house-two .introduce-text h4 {
    margin-top: 20px;
    font-weight: normal;
}
.new-house .first-type-house-five .show-text,
.new-house .first-type-house-four .show-text,
.new-house .first-type-house-one .show-text,
.new-house .first-type-house-three .show-text,
.new-house .first-type-house-two .show-text,
.new-house .four-type-house-five .show-text,
.new-house .four-type-house-four .show-text,
.new-house .four-type-house-one .show-text,
.new-house .four-type-house-three .show-text,
.new-house .four-type-house-two .show-text,
.new-house .second-type-house-five .show-text,
.new-house .second-type-house-four .show-text,
.new-house .second-type-house-one .show-text,
.new-house .second-type-house-three .show-text,
.new-house .second-type-house-two .show-text,
.new-house .third-type-house-five .show-text,
.new-house .third-type-house-four .show-text,
.new-house .third-type-house-one .show-text,
.new-house .third-type-house-three .show-text,
.new-house .third-type-house-two .show-text {
    height: 161px;
}
.new-house .first-type-house-five .introduce-text .tag,
.new-house .first-type-house-four .introduce-text .tag,
.new-house .first-type-house-one .introduce-text .tag,
.new-house .first-type-house-three .introduce-text .tag,
.new-house .first-type-house-two .introduce-text .tag,
.new-house .four-type-house-five .introduce-text .tag,
.new-house .four-type-house-four .introduce-text .tag,
.new-house .four-type-house-one .introduce-text .tag,
.new-house .four-type-house-three .introduce-text .tag,
.new-house .four-type-house-two .introduce-text .tag,
.new-house .second-type-house-five .introduce-text .tag,
.new-house .second-type-house-four .introduce-text .tag,
.new-house .second-type-house-one .introduce-text .tag,
.new-house .second-type-house-three .introduce-text .tag,
.new-house .second-type-house-two .introduce-text .tag,
.new-house .third-type-house-five .introduce-text .tag,
.new-house .third-type-house-four .introduce-text .tag,
.new-house .third-type-house-one .introduce-text .tag,
.new-house .third-type-house-three .introduce-text .tag,
.new-house .third-type-house-two .introduce-text .tag {
    display: inline-block;
}
.new-house .first-type-house-five .introduce-text .total-unit-price,
.new-house .first-type-house-four .introduce-text .total-unit-price,
.new-house .first-type-house-one .introduce-text .total-unit-price,
.new-house .first-type-house-two .introduce-text .total-unit-price,
.new-house .four-type-house-five .introduce-text .total-unit-price,
.new-house .four-type-house-four .introduce-text .total-unit-price,
.new-house .four-type-house-one .introduce-text .total-unit-price,
.new-house .four-type-house-three .introduce-text .total-unit-price,
.new-house .four-type-house-two .introduce-text .total-unit-price,
.new-house .second-type-house-five .introduce-text .total-unit-price,
.new-house .second-type-house-four .introduce-text .total-unit-price,
.new-house .second-type-house-one .introduce-text .total-unit-price,
.new-house .second-type-house-three .introduce-text .total-unit-price,
.new-house .second-type-house-two .introduce-text .total-unit-price,
.new-house .third-type-house-five .introduce-text .total-unit-price,
.new-house .third-type-house-four .introduce-text .total-unit-price,
.new-house .third-type-house-one .introduce-text .total-unit-price,
.new-house .third-type-house-three .introduce-text .total-unit-price,
.new-house .third-type-house-two .introduce-text .total-unit-price {
    display: inline-block;
    position: absolute;
    margin-top: -80px;
    margin-left: 120px;
    width: 220px;
    color: #fe615a;
}
.new-house .first-type-house-three .introduce-text .show-text {
    width: 280px;
}
.new-house .first-type-house-three .introduce-text .total-unit-price {
    display: inline-block;
    position: absolute;
    margin-top: -80px;
    margin-left: 168px;
    width: 220px;
    color: #fe615a;
}
.new-house .first-type-house-five .introduce-text .total-unit-price h4,
.new-house .first-type-house-four .introduce-text .total-unit-price h4,
.new-house .first-type-house-one .introduce-text .total-unit-price h4,
.new-house .first-type-house-three .introduce-text .total-unit-price h4,
.new-house .first-type-house-two .introduce-text .total-unit-price h4,
.new-house .four-type-house-five .introduce-text .total-unit-price h4,
.new-house .four-type-house-four .introduce-text .total-unit-price h4,
.new-house .four-type-house-one .introduce-text .total-unit-price h4,
.new-house .four-type-house-three .introduce-text .total-unit-price h4,
.new-house .four-type-house-two .introduce-text .total-unit-price h4,
.new-house .second-type-house-five .introduce-text .total-unit-price h4,
.new-house .second-type-house-four .introduce-text .total-unit-price h4,
.new-house .second-type-house-one .introduce-text .total-unit-price h4,
.new-house .second-type-house-three .introduce-text .total-unit-price h4,
.new-house .second-type-house-two .introduce-text .total-unit-price h4,
.new-house .third-type-house-five .introduce-text .total-unit-price h4,
.new-house .third-type-house-four .introduce-text .total-unit-price h4,
.new-house .third-type-house-one .introduce-text .total-unit-price h4,
.new-house .third-type-house-three .introduce-text .total-unit-price h4,
.new-house .third-type-house-two .introduce-text .total-unit-price h4 {
    margin-left: 80px;
    color: #606266;
}
.new-house .default-order hr,
.new-house .open-time hr,
.new-house .total-price hr,
.new-house .type-house hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
.new-house .first-type-house-five .introduce-text .show-text .type-tag,
.new-house .first-type-house-four .introduce-text .show-text .type-tag,
.new-house .first-type-house-one .introduce-text .show-text .type-tag,
.new-house .first-type-house-three .introduce-text .show-text .type-tag,
.new-house .first-type-house-two .introduce-text .show-text .type-tag,
.new-house .four-type-house-five .introduce-text .show-text .type-tag,
.new-house .four-type-house-four .introduce-text .show-text .type-tag,
.new-house .four-type-house-one .introduce-text .show-text .type-tag,
.new-house .four-type-house-three .introduce-text .show-text .type-tag,
.new-house .four-type-house-two .introduce-text .show-text .type-tag,
.new-house .second-type-house-five .introduce-text .show-text .type-tag,
.new-house .second-type-house-four .introduce-text .show-text .type-tag,
.new-house .second-type-house-one .introduce-text .show-text .type-tag,
.new-house .second-type-house-three .introduce-text .show-text .type-tag,
.new-house .second-type-house-two .introduce-text .show-text .type-tag,
.new-house .third-type-house-five .introduce-text .show-text .type-tag,
.new-house .third-type-house-four .introduce-text .show-text .type-tag,
.new-house .third-type-house-one .introduce-text .show-text .type-tag,
.new-house .third-type-house-three .introduce-text .show-text .type-tag,
.new-house .third-type-house-two .introduce-text .show-text .type-tag {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    margin-left: 15px;

}
.new-house .first-type-house-five .introduce-text .show-text h2,
.new-house .first-type-house-four .introduce-text .show-text h2,
.new-house .first-type-house-one .introduce-text .show-text h2,
.new-house .first-type-house-three .introduce-text .show-text h2,
.new-house .first-type-house-two .introduce-text .show-text h2,
.new-house .four-type-house-five .introduce-text .show-text h2,
.new-house .four-type-house-four .introduce-text .show-text h2,
.new-house .four-type-house-one .introduce-text .show-text h2,
.new-house .four-type-house-three .introduce-text .show-text h2,
.new-house .four-type-house-two .introduce-text .show-text h2,
.new-house .second-type-house-five .introduce-text .show-text h2,
.new-house .second-type-house-four .introduce-text .show-text h2,
.new-house .second-type-house-one .introduce-text .show-text h2,
.new-house .second-type-house-three .introduce-text .show-text h2,
.new-house .second-type-house-two .introduce-text .show-text h2,
.new-house .third-type-house-five .introduce-text .show-text h2,
.new-house .third-type-house-four .introduce-text .show-text h2,
.new-house .third-type-house-one .introduce-text .show-text h2,
.new-house .third-type-house-three .introduce-text .show-text h2,
.new-house .third-type-house-two .introduce-text .show-text h2 {
    display: inline-block;
}
.new-house .first-type-house-five .introduce-text .show-text .type-tag .on-buy,
.new-house .first-type-house-four .introduce-text .show-text .type-tag .on-buy,
.new-house .first-type-house-one .introduce-text .show-text .type-tag .on-buy,
.new-house .first-type-house-three .introduce-text .show-text .type-tag .on-buy,
.new-house .first-type-house-two .introduce-text .show-text .type-tag .on-buy,
.new-house .four-type-house-five .introduce-text .show-text .type-tag .on-buy,
.new-house .four-type-house-four .introduce-text .show-text .type-tag .on-buy,
.new-house .four-type-house-one .introduce-text .show-text .type-tag .on-buy,
.new-house .four-type-house-three .introduce-text .show-text .type-tag .on-buy,
.new-house .four-type-house-two .introduce-text .show-text .type-tag .on-buy,
.new-house .second-type-house-five .introduce-text .show-text .type-tag .on-buy,
.new-house .second-type-house-four .introduce-text .show-text .type-tag .on-buy,
.new-house .second-type-house-one .introduce-text .show-text .type-tag .on-buy,
.new-house .second-type-house-three .introduce-text .show-text .type-tag .on-buy,
.new-house .second-type-house-two .introduce-text .show-text .type-tag .on-buy,
.new-house .third-type-house-five .introduce-text .show-text .type-tag .on-buy,
.new-house .third-type-house-four .introduce-text .show-text .type-tag .on-buy,
.new-house .third-type-house-one .introduce-text .show-text .type-tag .on-buy,
.new-house .third-type-house-three .introduce-text .show-text .type-tag .on-buy,
.new-house .third-type-house-two .introduce-text .show-text .type-tag .on-buy {
    background: #5F94FF;
    padding: 6px 7px;
    margin-right: 7px;
    line-height: 12px;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    letter-spacing: -.27px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.new-house .first-type-house-five .introduce-text .show-text .type-tag .live-house,
.new-house .first-type-house-four .introduce-text .show-text .type-tag .live-house,
.new-house .first-type-house-one .introduce-text .show-text .type-tag .live-house,
.new-house .first-type-house-three .introduce-text .show-text .type-tag .live-house,
.new-house .first-type-house-two .introduce-text .show-text .type-tag .live-house,
.new-house .four-type-house-five .introduce-text .show-text .type-tag .live-house,
.new-house .four-type-house-four .introduce-text .show-text .type-tag .live-house,
.new-house .four-type-house-one .introduce-text .show-text .type-tag .live-house,
.new-house .four-type-house-three .introduce-text .show-text .type-tag .live-house,
.new-house .four-type-house-two .introduce-text .show-text .type-tag .live-house,
.new-house .second-type-house-five .introduce-text .show-text .type-tag .live-house,
.new-house .second-type-house-four .introduce-text .show-text .type-tag .live-house,
.new-house .second-type-house-one .introduce-text .show-text .type-tag .live-house,
.new-house .second-type-house-three .introduce-text .show-text .type-tag .live-house,
.new-house .second-type-house-two .introduce-text .show-text .type-tag .live-house,
.new-house .third-type-house-five .introduce-text .show-text .type-tag .live-house,
.new-house .third-type-house-four .introduce-text .show-text .type-tag .live-house,
.new-house .third-type-house-one .introduce-text .show-text .type-tag .live-house,
.new-house .third-type-house-three .introduce-text .show-text .type-tag .live-house,
.new-house .third-type-house-two .introduce-text .show-text .type-tag .live-house {
    background: #FB9252;
    padding: 6px 7px;
    margin-right: 7px;
    line-height: 12px;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    letter-spacing: -.27px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.new-house .first-type-house-five:hover .show-follow,
.new-house .first-type-house-four:hover .show-follow,
.new-house .first-type-house-one:hover .show-follow,
.new-house .first-type-house-three:hover .show-follow,
.new-house .first-type-house-two:hover .show-follow,
.new-house .four-type-house-five:hover .show-follow,
.new-house .four-type-house-four:hover .show-follow,
.new-house .four-type-house-one:hover .show-follow,
.new-house .four-type-house-three:hover .show-follow,
.new-house .four-type-house-two:hover .show-follow,
.new-house .second-type-house-five:hover .show-follow,
.new-house .second-type-house-four:hover .show-follow,
.new-house .second-type-house-one:hover .show-follow,
.new-house .second-type-house-three:hover .show-follow,
.new-house .second-type-house-two:hover .show-follow,
.new-house .third-type-house-five:hover .show-follow,
.new-house .third-type-house-four:hover .show-follow,
.new-house .third-type-house-one:hover .show-follow,
.new-house .third-type-house-three:hover .show-follow,
.new-house .third-type-house-two:hover .show-follow {
    display: block;
}
.new-house .show-follow {
    display: none;
    position: absolute;
    margin-left: 50px;
    top: 23px;
    right: -319px;
    height: 26px;
    padding: 0 10px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    font-weight: 600;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}
/*动画样式*/
.new-house .ciryle {
    display: inline-block;
    position: absolute;
    margin-left: -260px;
    margin-top: 145px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.new-house .donghua {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    z-index: 10;
}
@-webkit-keyframes mymove {
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.3;
    }
}
@keyframes mymove {
    50% {
        transform: rotate(180deg);
        opacity: 0.3;
    }
}
/*设置房屋详细信息中鼠标悬停时弹出图片轮播*/
/* .new-house .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
} */

/* .new-house .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
    background: linear-gradient(top,rgba(255,255,255,0),#99a9bf);
    filter: progid:DXImageTransfrom.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#99a9bf,GradientType=0);
}
  
.new-house .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
} */
/* .new-house .bgimage-introduce{
    display: none;
    position: absolute;
    margin-top: -160px;
    margin-left: -310px;
}
.new-house .bgimage-introduce .el-carousel{
    width: 892px;
} */
/* .new-house .first-type-house-one:hover .bgimage-introduce,
.new-house .first-type-house-two:hover .bgimage-introduce,
.new-house .first-type-house-three:hover .bgimage-introduce,
.new-house .first-type-house-four:hover .bgimage-introduce,
.new-house .first-type-house-five:hover .bgimage-introduce,
.new-house .second-type-house-one:hover .bgimage-introduce,
.new-house .second-type-house-two:hover .bgimage-introduce,
.new-house .second-type-house-three:hover .bgimage-introduce,
.new-house .second-type-house-four:hover .bgimage-introduce,
.new-house .second-type-house-five:hover .bgimage-introduce,
.new-house .third-type-house-one:hover .bgimage-introduce,
.new-house .third-type-house-two:hover .bgimage-introduce,
.new-house .third-type-house-three:hover .bgimage-introduce,
.new-house .third-type-house-four:hover .bgimage-introduce,
.new-house .third-type-house-five:hover .bgimage-introduce,
.new-house .four-type-house-one:hover .bgimage-introduce,
.new-house .four-type-house-two:hover .bgimage-introduce,
.new-house .four-type-house-three:hover .bgimage-introduce,
.new-house .four-type-house-four:hover .bgimage-introduce,
.new-house .four-type-house-five:hover .bgimage-introduce{
    display: block;
} */
.new-house .house-details .el-image {
    width: 280px;
    height: 210px;
}
/*分页位置*/
.new-house .pagination-box {
    margin-left: 560px;
}
.new-house .pagination-box .last-page,
.new-house .pagination-box .next-page,
.new-house .pagination-box .page-number {
    display: inline;
}
/*新房页面主题内容右部样式*/
.new-house .house-details {
    display: inline-block;
}
.new-house .content-right {
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
    width: 245px;
    height: 100%;
}
.new-house .help-me-look-house {
    width: 200px;
    /* height: 300px; */
    /* background-size: 50px*50px;
    background: url("../../common/images/help_me_find_house_img@2x.png") no-repeat; */
}
.new-house .help-me-look-house .el-button {
    position: absolute;
    margin-top: 149px;
    margin-left: -148px;
    height: 10px;
    line-height: 0;
}
.new-house .hot-house-properties {
    margin-top: 15px;
}
.new-house .hot-house-more-info {
    margin-top: 15px;
}
.new-house .hot-house-more-info h5 {
    display: inline-block;
    width: 73px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new-house .hot-house-more-info .tag {
    display: inline-block;
    margin-left: 31px;
}
.new-house .hot-house-more-info .tag span {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    box-sizing: border-box;
    border-radius: 2px;
}
.new-house .hot-house-more-info .tag .tag-one {
    color: #3072f6;
    background: rgba(107,153,246,.11);
    margin-right: 4px;
}
.new-house .hot-house-more-info .tag .tag-two {
    border: 1px solid #ced2d6;
    color: #9399a5;
    line-height: 14px;
}
.new-house .hot-house-more-info h4 {
    margin-top: 5px;
    color: #fe615a;
}
/*新房页面尾部样式*/
.new-house .footer {
    margin-left: 80px;
}
