.personCenterCreditTwo .credit-manager {
    height: 650px;
    line-height: 30px;
}
.personCenterCreditTwo .credit-manager .goal {
    width: 150px;
    color: #409EFF;
}
.personCenterCreditTwo .credit-manager .goal .goal-desribe {
    margin-top: 12px;
    font-size: 14px;
    color: #bfcbd9;
}
.personCenterCreditTwo .credit-manager .message {
    width: 1000px;
}